{% extends 'base.html.twig' %}

{% block title %}Profil de l'entreprise{% endblock %}
{% block stylesheets %}{{parent()}}
<link rel="stylesheet" href={{asset("css/modal.css")}}></link>
{% endblock %}



{% block body %}
    Nom de l'entreprise : {{entreprise.nomentreprise}}
    <br>
    Adresse : {{entreprise.adresseregione}}, {{entreprise.adressevillee}}, {{entreprise.adressecpe}}
    <br>

{% if app.user.estPatron == entreprise %}
Employé :
{% for u in liste %}
{{u.nom | capitalize}} {{u.prenom | capitalize}},
{% endfor %}
    <br>
<button id="boutonDemande">Passer une annonce</button>
<div id="modalDemande" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>{{form(form)}}</p>
  </div>
</div>

{% endif %}





{% endblock %}
{% block javascripts %}{{parent()}}
    <script type="text/javascript" src={{asset("js/scriptModal.js")}}></script>
    <script src="js/profil.js"></script>
{% endblock %}
